h1 {
    text-align: center;
}

#txt_welcome {
    text-align: center; 
    margin-bottom: 50px;
}

.card {
    text-align: center;
}

.card_title {
    font-size: 20px;
}

.card_button {
    font-size: 30px;
    width: 180px;
    height: 35px;
}

.card_img {
    width: 280px;
    height: 280px;
}